<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script>
        function hideOrShow() {
            var httpMethod = {{httpMethod|tojson}};

            function hideResultsTable() {
                document.getElementById('resultsTable').style.visibility="hidden";
            }
            function showResultsTable() {
                document.getElementById('resultsTable').style.visibility="visible";
            }

            if (httpMethod == "POST") {
                showResultsTable();
            }
            else {
                hideResultsTable();
            }
        }
    </script>
    <title>LEIP - ISP Information</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Contact-FormModal-Contact-Form-with-Google-Map.css">
    <link rel="stylesheet" href="assets/css/Data-Table-1.css">
    <link rel="stylesheet" href="assets/css/Data-Table.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Table-With-Search-1.css">
    <link rel="stylesheet" href="assets/css/Table-With-Search.css">
    <link rel="stylesheet" href="assets/css/untitled-1.css">
    <link rel="stylesheet" href="assets/css/untitled.css">
</head>

<body id="page-top" onload="hideOrShow()">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><img src="assets/img/LEIP.png" width="200" height="200">
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <ul class="nav navbar-nav text-light" id="accordionSidebar">
                        <li class="nav-item"><a class="nav-link" href="/"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="/sexoffenderinfo"><i class="fa fa-map-marker"></i><span>Sex Offender Registry Directory</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="/phonedirectory"><i class="fa fa-book"></i><span>Phone Directory</span></a></li>
                        <li class="nav-item"><a class="nav-link active" href="/isp"><i class="fa fa-signal"></i><span>Internet Service Provider Information</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="/preservedigitalevidence"><i class="fa fa-laptop"></i><span>Preserving Digital Evidence</span></a></li>
                    </ul>
                </ul>
                <div class="text-center d-none d-md-inline"></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group" style="border-style: none;"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h1 class="text-primary" style="padding: 16px 20px;"><strong>Internet Service Providers</strong></h1>
                    </div>
                    <div class="card-body" style="padding: 16px 20px;">
                        <p class="m-0">The ISP List is a database of Internet service and other online content providers that will help you get the information you need for your case. For each provider listed you will find legal contact info and instructions on how to serve subpoenas, court orders, and search warrants.&nbsp;&nbsp;</p>
                        <p>The ISP List is a law enforcement community effort. If you are unable to find an ISP, let us know and we'll add it. If you have any questions ciphering results, contact us and we will try to answer all your questions.&nbsp;</p>
                    </div>
                </div>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4"></h3>
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Select an ISP from the dropdown to access information:</p>
                        </div>
                        <div class="card-body">
                            <form action="/isp" method="POST">
                                <div class="input-group">
                                    <select class="custom-select" name="ispIndex" id="ispNameInput" aria-label="Example select with button addon">
                                        <option id="ispSelected" selected></option>
                                        <script>
                                            var ispNames = {{ispNames|tojson}};
                                            var i;
                                            var html = "";

                                            for (i = 0; i<ispNames.length; i++) {
                                                html += '<option value="' + [i] + '">' + ispNames[i] + '</option>';
                                            }

                                            document.getElementById("ispNameInput").innerHTML = html;
                                        </script>
                                    </select>
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="card-body" id="resultsTable">
                        <h2 class="text-dark card-title" id="ispName">{{ispName}}</h2>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="width: 204px;">Contact or Attn</td>
                                        <td>{{ispContact}}</td>
                                    </tr>
                                    <tr>
                                        <td>Location</td>
                                        <td>{{ispLocation}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fax Number</td>
                                        <td>{{ispFaxNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td id="ispEmail">
                                            <script>
                                                var ispEmail = {{ispEmail|tojson}};
                                                var html = '';

                                                if (ispEmail == 'N/A') {
                                                    html += ispEmail;
                                                }
                                                else {
                                                    html += '<a href="mailto:' + ispEmail + '">' + ispEmail + '</a>';
                                                }

                                                document.getElementById('ispEmail').innerHTML = html;
                                            </script>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Last Updated</td>
                                        <td>{{ispLastUpdated}}</td>
                                    </tr>
                                    <tr>
                                        <td>LE Guide</td>
                                        <td id="ispLEGuide">
                                            <script>
                                                var ispLEGuide = {{ispLEGuide|tojson}};
                                                var html = '';

                                                if (ispLEGuide == 'N/A') {
                                                    html += ispLEGuide;
                                                }
                                                else {
                                                    html += '<a href='+ ispLEGuide + '>' + ispLEGuide + '</a>'
                                                }

                                                document.getElementById('ispLEGuide').innerHTML = html;
                                            </script>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Time Zone</td>
                                        <td>{{ispTimeZone}}</td>
                                    </tr>
                                    <tr>
                                        <td>Info</td>
                                        <td>{{ispInfo}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <footer></footer>
                <footer></footer>
            </div>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/smart-forms.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/Contact-FormModal-Contact-Form-with-Google-Map.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/Table-With-Search.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>